* {
    box-sizing: border-box
}

body {
    background: #F0F0F0;
}

.clock {
    border-radius: 50%;
    background: #ffffff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
    background-size: 88%;
    height:  312px;
    padding-bottom: 31%;
    position: relative;
    width: 315px;
    padding: 0;
    margin: 250px 600px;
    border: 12px solid #666;
}

/*border: 12px solid #666;

background: #F0F0F0;
.drop-shadow(0px, 4px);
*/

.clock::after {
    background: #ff4136;
    border-radius: 50%;
    border: 4px solid black;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 3%;
    height: 3%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hours {
    background: #000;
    height: 20%;
    left: 49%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2%;
    box-sizing: border-box;
}
.minutes{
    background: #000;
    height: 40%;
    left: 68%;
    position: absolute;
    top: 34%;
    transform-origin: 50% 50%;
    transform: rotate(100deg);
    width: 1.5%;
    box-sizing: border-box;
}

.seconds {
    background: #ff4136;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 0.9%;
    z-index: 8;
}

/*the animation code*/
@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateZ(360deg);
    }

}

.seconds-container {
    animation: rotate 45s 1 steps(60);
}
