/*variables */
@radius: 200;
@innerRadius: 180;
@diameter: 400px;

.clock {
    width: 400px;
    height: 400px;
    position: relative;
    font: 18px monospace;
    font-weight: bold;
    color: #444;
    border: 12px solid #666;
    border-radius: 50%;
    background: #F0F0F0;
    .drop-shadow(0px, 4px);
    margin: 0px auto;
}

/* Clock numbers */
.clock ul {
    padding: 0;
    margin: 0;
}
.clock li {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 10px;
    height: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
